<div style="color: #fff">
  <h1 class="text-center my-4">Who's Watching?</h1>
  <div class="peofile_Sec">
    <div class="row profiles">
      <div class="col-sm-6 col-md-4 col-lg-2 user-profile">
        <img src="../../../../../assets/user1.png" alt="user 1" class="" />
        <p class="text-center my-3">Luci</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 user-profile">
        <img src="../../../../../assets/user2.png" alt="user 1" class="" />
        <p class="text-center my-3">Hassi Net</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 user-profile">
        <img src="../../../../../assets/user3.png" alt="user 1" class="" />
        <p class="text-center my-3">Ciri</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 user-profile">
        <img src="../../../../../assets/user4.png" alt="user 1" class="" />
        <p class="text-center my-3">Nowfil</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 user-profile">
        <img src="../../../../../assets/user5.png" alt="user 1" class="" />
        <p class="text-center my-3">Selenophile</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button href="#" class="manage-profile text-center">Manage Profiles</button>
  </div>
</div>
