<section class="welcome_screen">
  <!-- 1st Section  -->
  <div class="welcomebanner">
    <div class="header">
      <div class="logo">
        <img src="assets/pakflix-icon.png" alt="pakflixlogo" />
      </div>
      <div class="sigin-btn">
        <button
          class="signin-btn"
          data-bs-toggle="modal"
          data-bs-target="#signinModal"
        >
          Sign In
        </button>
      </div>
    </div>
    <div class="welcome_msg">
      <div class="welcome-content text-center">
        <h2>Unlimited movies, TV shows, and more.</h2>
        <h4>Watch anywhere. Cancel anytime.</h4>
        <p>
          Ready to watch? Enter your email to create or restart your membership.
        </p>
      </div>
      <div class="getstarted">
        <input type="text" name="" id="" placeholder="Enter Email" />
        <a href="../register">
          <button class="cursor-pointer">
            Get Started
            <span class="fowardarrow"><i class="fas fa-arrow-right"></i></span>
          </button>
        </a>
      </div>
    </div>
  </div>
  <!-- 2nd sec  -->
  <div class="storysec">
    <div class="row">
      <div class="col-sm-12-col-md-6 col-lg-6 storycard">
        <h1>Enjoy on your TV. 1</h1>
        <h2>
          Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
          players, and more.
        </h2>
      </div>
      <div class="col-sm-12-col-md-12 col-lg-6 storycardImg">
        <img src="assets/Pakflix-story.jpg" alt="" />
      </div>
    </div>
  </div>
  <!-- 3rd sec  -->
  <div class="storysec">
    <div class="row">
      <div class="col-sm-12-col-md-6 col-lg-6 storycardImg">
        <img src="../../../../../assets/MobileSec Banner.jpg" alt="" />
      </div>
      <div class="col-sm-12-col-md-12 col-lg-6 storycard">
        <h1>Download your shows to watch offline.</h1>
        <h2>Save your favorites easily and always have something to watch.</h2>
      </div>
    </div>
  </div>
  <!-- 4rd sec  -->
  <div class="storysec">
    <div class="storycard" style="max-width: 700px">
      <h1>Watch everywhere.</h1>
      <h2 style="max-width: 500px">
        Stream unlimited movies and TV shows on your phone, tablet, laptop, and
        TV.
      </h2>
    </div>
  </div>
  <!-- 5rd sec  -->
  <div class="storysec">
    <div class="row">
      <div class="col-sm-12-col-md-12 col-lg-6 storycardImg">
        <img src="assets/childbanner.png" alt="" />
      </div>
      <div class="col-sm-12-col-md-6 col-lg-6 storycard">
        <h1>Create profiles for kids.</h1>
        <h2 style="max-width: 500px">
          Send kids on adventures with their favorite characters in a space made
          just for them—free with your membership.
        </h2>
      </div>
    </div>
  </div>
  <!-- 6th Sec  -->
  <div class="FAQSSec storysec">
    <h1 class="text-center my-4">Frequently Asked Questions</h1>
    <div class="faqs_Questions">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Accordion Item #1
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              first item's accordion body.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Accordion Item #2
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              second item's accordion body. Let's imagine this being filled with
              some actual content.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Accordion Item #3
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              third item's accordion body. Nothing more exciting happening here
              in terms of content, but just filling up the space to make it
              look, at least at first glance, a bit more representative of how
              this would look in a real-world application.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingfour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapsefour"
              aria-expanded="false"
              aria-controls="flush-collapsefour"
            >
              Accordion Item #4
            </button>
          </h2>
          <div
            id="flush-collapsefour"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingfour"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              third item's accordion body. Nothing more exciting happening here
              in terms of content, but just filling up the space to make it
              look, at least at first glance, a bit more representative of how
              this would look in a real-world application.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingfive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapsefive"
              aria-expanded="false"
              aria-controls="flush-collapsefive"
            >
              Accordion Item #5
            </button>
          </h2>
          <div
            id="flush-collapsefive"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingfive"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              third item's accordion body. Nothing more exciting happening here
              in terms of content, but just filling up the space to make it
              look, at least at first glance, a bit more representative of how
              this would look in a real-world application.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingsix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapsesix"
              aria-expanded="false"
              aria-controls="flush-collapsesix"
            >
              Accordion Item #6
            </button>
          </h2>
          <div
            id="flush-collapsesix"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingsix"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              third item's accordion body. Nothing more exciting happening here
              in terms of content, but just filling up the space to make it
              look, at least at first glance, a bit more representative of how
              this would look in a real-world application.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome_msg mt-5">
      <div class="welcome-content text-center">
        <h4>Watch anywhere. Cancel anytime.</h4>
        <p>
          Ready to watch? Enter your email to create or restart your membership.
        </p>
      </div>
      <div class="getstarted mb-5">
        <input type="text" name="" id="" placeholder="Enter Email" />
        <Button
          >Get Started
          <span class="fowardarrow"><i class="fas fa-arrow-right"></i></span>
        </Button>
      </div>
    </div>
  </div>
  <!-- 7th sec  -->
  <footer>
    <div class="container" style="color: #fff">
      <div class="row mt-4">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <ol>
            <li class="my-3">Questions? Contact us.</li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Investor Relations</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Speed Test</a></li>
            <li class="my-5"><a href="">Netflix Pakistan</a></li>
          </ol>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
          <ol>
            <li><a href="">Help Center</a></li>
            <li><a href=""> Jobs</a></li>
            <li><a href="">Cookie Preferences</a></li>
            <li><a href="">Legal Notices</a></li>
          </ol>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
          <ol>
            <li><a href="">Account</a></li>
            <li><a href=""> Ways to Watch</a></li>
            <li><a href="">Corporate Information</a></li>
            <li><a href="">Only on Netflix</a></li>
          </ol>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
          <ol>
            <li><a href="">Media Center</a></li>
            <li><a href="">Terms of Use</a></li>
            <li><a href="">Contact Us</a></li>
          </ol>
        </div>
      </div>
    </div>
  </footer>
</section>

<!-- Sigin Model popup -->
<!-- Modal -->
<section class="siginupModel">
  <div
    class="modal fade mt-5"
    id="signinModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel mr-3 text-lg">
            Sign In
          </h3>
          <button
            type="button"
            class="btn-close bg-danger rounded-circle text-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="signin_form">
            <form
              action=""
              [formGroup]="loginForm"
              (submit)="onSubmit2()"
              autocomplete="off"
            >
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      formControlName="email"
                      class="form-control my-4"
                      placeholder="Enter Your Email"
                      [(ngModel)]="loginFormdata.email"
                      [ngClass]="{
                        'is-invalid': submitted && f2['email'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f2['email'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f2['email'].errors['required']">
                        Field is required
                      </div>
                      <div *ngIf="f2['email'].errors['email']">
                        Email format is invalid
                      </div>
                    </div>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      formControlName="password"
                      class="form-control my-4"
                      placeholder="Enter your Password"
                      [(ngModel)]="loginFormdata.password"
                      [ngClass]="{
                        'is-invalid': submitted && f2['password'].errors
                      }"
                    />

                    <div
                      *ngIf="submitted && f2['password'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f2['password'].errors['required']">
                        Password is required
                      </div>
                      <div *ngIf="f2['password'].errors['minlength']">
                        Password Atleast 8 charachter
                      </div>
                    </div>

                    <div>
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="acceptTerms"
                        formControlName="acceptTerms"
                        name="acceptTerms"
                        style="display: inline-block"
                        [ngClass]="{
                          'is-invalid': submitted && f2['acceptTerms'].errors
                        }"
                      />
                      <label
                        class="form-check-label d-inline mx-2 mt-2"
                        for="flexCheckDefault"
                        style="color: #fff !important"
                      >
                        I agreee With <a href="">Terms & Conditions</a>
                      </label>
                    </div>
                    <div
                      *ngIf="submitted && f2['acceptTerms'].errors"
                      class="invalid-feedback"
                    >
                      Filed is required
                    </div>
                    <button class="login-btn">
                      Login Now
                      <span class="fowardarrow"
                        ><i class="fas fa-arrow-right"></i
                      ></span>
                    </button>
                    <p
                      class="mt-3 text-center cursor-pointer"
                      data-bs-toggle="modal"
                      data-bs-target="#forgetpasswordModal"
                    >
                      Forget Password
                    </p>
                    <p class="text-center">
                      New to Netflix?
                      <a class="text-blue cursor-pointer" routerLink="register"
                        >Sign up now.</a
                      >
                    </p>
                    <p text-center>
                      This page is protected by Google reCAPTCHA to ensure
                      you're not a bot.
                      <a href="" class="cursor-pointer">Learn more.</a>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="forgetpasswordModel">
  <div
    class="modal fade mt-5"
    id="forgetpasswordModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title mr-3 text-lg" id="exampleModalLabel">
            Forget Password
          </h3>
          <button
            type="button"
            class="btn-close bg-danger rounded-circle text-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="forgetPassword_form">
            <form
              action=""
              class=""
              [formGroup]="ForgetPasswordForm"
              (submit)="onSubmit()"
            >
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control my-3"
                      formControlName="email"
                      placeholder="Enter Your Email"
                      [(ngModel)]="forgetUserEmail.userEmail"
                      [ngClass]="{
                        'is-invalid': submitted && f['email'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f['email'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f['email'].errors['required']">
                        Field is required
                      </div>
                      <div *ngIf="f['email'].errors['email']">
                        Email format is invalid
                      </div>
                    </div>
                    <button class="login-btn m-auto mt-2">
                      Get Password
                      <span class="fowardarrow"
                        ><i class="fas fa-arrow-right"></i
                      ></span>
                      <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
